@{
    ViewData["Title"] = "Available Courses";
    var courses = ViewBag.Courses as IEnumerable<dynamic>;
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h2>Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Code</th>
            <th>credit</th>
            <th>Lecturer</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.Code</td>
                <td>@course.Credit</td>
                <td>@course.Lecturer?.Username</td>

                @if (User.IsInRole("Admin"))
                {
                <td>
                    <a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@course.Id" class="btn btn-primary">Delete</a>
                </td>
                }
                @if (User.IsInRole("Student"))
                {
                    <td>
                    <a asp-action="Details" asp-route-id="@course.Id" class="btn btn-info">Details</a>
                    <a asp-action="EnrollCourse" asp-controller="Course" asp-route-courseId="@course.Id" class="btn btn-success">Enroll</a>
                    </td>
                }

            </tr>
        }
        
    </tbody>
</table>
@if (User.IsInRole("Admin") || User.IsInRole("Lecturer"))
{
<a asp-action="Create" asp-controller="Course" class="btn btn-primary">Create new Courses here</a>
}